@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&family=Mulish:wght@300;400;500&display=swap');

/* CONFIGURAÇÕES GERAIS */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 1em;
}

:root {
	--corW : #fff;
	--corB : #000 ;
	--lightG : #d3d3d3 ;
	--darkG : #606060 ;
	--opaityB : rgba(0, 0 , 0, 0.5);
	--font-montS: 'Montserrat', sans-serif;
	--font-mulish: 'Mulish', sans-serif;
}

body {
	max-width: 100vw;
	min-height: 100vh;
	font-family: var(--font-mulish);
	background-color: var(--lightG);
	font-weight: 500;
} 

.direita {
	text-align: right;
}

/* MAIN  */
main.interface {
	max-width: 1300px;
	min-width: 100px;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 280px repeat(3, auto);
	background-color: var(--corW);
	margin: 15px auto;
	box-shadow: 0px 0px 10px var(--opaityB) ;
}

/* CABECALHO */
header.cabecalho {
	grid-area: 1 / 1 / 2 / 2;
	position: relative;
	display: flex;
	justify-content: space-between ;
	border-bottom: 2px var(--lightG) solid;
}

menu.div-title {
	display: flex;
	flex-direction: column;
}

menu.div-title h1 {
	font-family: var(--font-montS);
	font-size: 3.7em;
	font-weight: 700;
	color: var(--darkG);
	text-shadow: 0px 0px 3px var(--lightG) ;
	margin: 30px 15px;
}

menu.div-title h2 {
	font-size: 15pt;
	color: var(--darkG);
	margin: 30px 20px;
}

figure.logo-glass {
	margin-left: 15px;
	margin-bottom: 20px;
}

/* FORMATAÇÃO DO MENU */
nav.menu {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

nav.menu h1 {
	display: none;
}

nav.menu ul {
	list-style: none;
}

nav.menu li {
	display: inline-block;
	background-color: var(--corW);
	padding: 10px;
	transition: background-color 1s;
}

nav.menu li:hover {
	background-color: var(--lightG);
			
}

nav.menu a {
	font-size: 1.2em;
	text-decoration: none;
	color: var(--darkG);
}

nav.menu a:hover {
	text-decoration: overline;
}
figure.black-glass {/* imagem glass */
	align-self: end;
	margin: 20px 30px;
}

/* CORPO */
main.corpo {
	grid-area: 2 / 1 / 3 / 2;
	position: relative;
}

.hgroup-header-body h1 {
	font-family: var(--font-montS);
	font-size: 2.5em;
	color: var(--darkG);
	text-transform: uppercase;
	margin: 10px;
	text-align: center;
}

.hgroup-header-body h2, .article-about h2 {
	font-family: var(--font-montS);
	color: var(--darkG);
	text-transform: uppercase;
	font-size: 2em;
	padding: 5px 0px 5px 5px;
	margin: 20px 0px;
}

.hgroup-header-body h3 {
	margin: 10px;
	color: var(--darkG);
}

article.article-about {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin: 80px 0;
}
article.art-2 {
	flex-direction: column;
	background-color: var(--lightG);
	text-align: center;
	padding: 20px 0;
}

.container {
	width: 600px;
	height: auto;
	margin: 40px 0;
}

p {
	font-size: 1.1em;
	text-align: justify;
	text-indent: 5px;
}

/* FORMATAÇÃO DE IMAGEM COM LEGENDA */

figure.foto-legenda {
	width: 500px;
	height: auto;
	position: relative;
	border: 8px solid var(--corW);
	box-shadow: 1px 1px 4px var(--corB);
	display: inline-block;
}

figure.foto-legenda img {
	width: 100%;
	height: 100%;	
}

figure.foto-legenda figcaption {
	position: absolute;
	top: 0px;
	background-color: var(--opaityB) ;
	color: var(--corW);
	width: 100%;
	height: 100%;
	padding: 10px;
	opacity: 0;
	transition: opacity 1s;

} 

figure.foto-legenda:hover figcaption {
	opacity: 1;
}

/* TABELA */
table#tabelaspec {
	width: 600px;
	border: 2px solid var(--lightG);
	border-spacing: 0px;
	margin: 40px 0;
}

table#tabelaspec td {
	border: 2px solid var(--darkG);
	padding: 10px;
	vertical-align: middle;
}

table#tabelaspec td.ce {
	color: var(--corW);
	background-color: var(--darkG);
	text-align: right;
	vertical-align: top;
	font-weight: bolder;
}

table#tabelaspec td.cd {
	background-color: var(--lightG);
	text-align: left;
}

table#tabelaspec caption {
	color: var(--darkG);
	font-size: 16pt;
	font-weight: bolder;
}

table#tabelaspec caption span {
	display: block;
	float: right;
	color: var(--corB);
	font-size: 8pt;
	margin-top: 11px;

}

#lateral {
	grid-area: 3 / 1 / 4 / 2;
}

aside#lateral {	
	width: 450px;
	float: right;
	padding: 10px;
	background-color: var(--lightG);
	padding: 10px;
	margin-top: 10px;
	box-shadow: 2px 2px 2px var(--opaityB) ;
}

aside#lateral h1 {
	font-family: 'fontelogo2', sans-serif;
	font-size: 25pt;
	color: var(--darkG);
	margin-top: 0px;

}

aside#lateral h2{
	font-size: 18pt;
	color: var(--corW);
	background-color: var(--darkG);
	padding: 10px;
}

footer#rodape {
	grid-area: 4 / 1 / 5 / 2;
	clear: both;
	border-top: 2px var(--lightG) solid;
}

footer#rodape p {
	text-align: center;
}