@charset "UTF-8";

/* CORPO */
main.corpo {
	grid-area: 2 / 1 / 3 / 2;
	position: relative;
}

.hgroup-header-body h1 {
	font-family: var(--font-montS);
	font-size: 1.8em;
	color: var(--darkG);
	text-transform: uppercase;
	margin: 20px;
	text-align: center;
}

.hgroup-header-body h2, .artigos-noticias h2 {
	font-family: var(--font-montS);
	color: var(--yellow);
	text-transform: uppercase;
	font-size: 2em;
	padding: 5px 0px 5px 5px;
	margin: 20px 0px;
}

.hgroup-header-body h3 {
	margin: 15px;
	color: var(--darkG);
}

/* ARTIGOS */
article.artigos-noticias {
	display: flex;
	justify-content: space-around;
	flex-direction: column;
	align-items: center;
	text-align: center;
	padding: 20px;
}

.container-noticias {
	width: 80%;
	height: auto;
	margin-bottom: 50px;
}

article.art-3 {
	background-color: var(--lightG);
}

article p {
	font-size: 1.1em;
	text-align: justify;
	text-indent: 5px;
	color: var(--darkG);
}

/* FORMATAÇÃO DE IMAGEM COM LEGENDA */

figure.foto-legenda {
  position: relative;
	width: 80%;
	height: auto;
	border: 8px solid var(--corW);
	box-shadow: 1px 1px 5px var(--corB);
	margin-bottom: 50px;
}

figure.foto-legenda img {
	width: 100%;
	height: 100%;	
}

figure.foto-legenda figcaption {
    font-size: .9em;
		color: var(--darkG) ;
    text-align: center;
}

input.btn-foto-legenda-next , input.btn-foto-legenda-back {
	position: absolute;
    top: 50%;
	width: 25px;
    height: 25px;
    font-weight: 700;
    color: var(--lightG);
    background-color: var(--yellow);
    border: none;
    cursor: pointer;
	transition: 200ms linear;
}

input.btn-foto-legenda-next:hover , input.btn-foto-legenda-back:hover {
	background-color: var(--darkG);
}

input.btn-foto-legenda-next {
    right: 2px;
}

input.btn-foto-legenda-back {
    left: 2px;
}

/* ARTIGO 3 */
div.container-fig {
	width: 100%;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-top: 20px;
}

.video {
	width: 80%;
	height: auto;
}

div.container-fig figure {
	width: 300px;
	height: auto;
}

div.container-fig img {
	margin: 10px;
}

div.container-fig h3 {
	font-family: var(--font-montS);
	text-transform: uppercase;
	color: var(--darkG);
	margin: 10px;
	font-size: 1.1em;
}

div.container-fig p{
	text-align: center;
}

/* ARTIGO 4 */
.art-4 h2 {
	font-size: 1.8em;
}

.span-confira {
	margin-top: 20px;
	color: var(--darkG);
	font-weight: 700;
}