@charset "utf-8";

div#tv-radio {

	width: 900px;
	height: 580px;
	margin: auto;
	background: url("../_imagens/radio-tv.png") no-repeat;
}

audio#musica {

	display: block;
	position: relative;
	width: 300px;
	left:574px ;
	top: 496px;
	height: 40px;
}

video#filme {

	display: block;
	position: relative;
	width: 454px;
	height: 350px;
	top: 5px;
	left: 81px;
}