@charset "utf-8";

header.cabecalho {
	background: url('../imagens/background-6.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

menu.div-title h1 {
	text-align: start;
	margin-bottom: 1em;
}

/* TABELA */

table#tabelaspec {
	border-spacing: 0px;
	margin: 40px 0;
}

table#tabelaspec td {
	color: var(--darkG);
	padding: 30px 10px;
	vertical-align: middle;
}

table#tabelaspec td.ce {
	text-align: left;
	vertical-align: top;
	font-weight: bolder;
	border-bottom: 1px solid var(--lightG);
}

table#tabelaspec td.cd {
	text-align: right;
	border-bottom: 1px solid var(--lightG);
}

table#tabelaspec caption {
	font-family: var(--font-montS);
	color: var(--yellow);
	font-size: 2em;
	font-weight: bolder;
	margin-bottom: 50px;
	text-transform: uppercase;
}

/* CONTAINER FIGURE */
div.container-fig {
	text-align: center;
	color: var(--darkG);
	background-color: var(--lightG);
	padding: 50px 20px;
}